<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jdbc.dao.inter.SysMenuDao">
	<resultMap id="BaseResultMap" type="jdbc.entity.db.SysMenu">
		<id column="menu_id" property="menuId" jdbcType="VARCHAR" />
		<result column="menu_pid" property="menuPid" jdbcType="VARCHAR" />
		<result column="menu_name" property="menuName" jdbcType="VARCHAR" />
		<result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
		<result column="menu_remark" property="menuRemark" jdbcType="VARCHAR" />
		<result column="menu_order" property="menuOrder" jdbcType="VARCHAR" />
		<result column="used" property="used" jdbcType="TINYINT" />
	</resultMap>

	<select id="queryAll" resultMap="BaseResultMap">
		SELECT * FROM sys_menu
	</select>
	
	<select id="getCountByPid" resultType="int" >
		SELECT count(*) FROM sys_menu WHERE menu_pid = #{menuId}
	</select>
	
	<select id="queryMenuChildVos" resultType="jdbc.entity.vo.SysMenuChildVo">
		SELECT menu_id menuId, menu_pid menuPid, menu_name menuName, menu_url menuUrl, menu_remark menuRemark, menu_order menuOrder, menu_name text, ( CASE WHEN ( SELECT count(*) FROM sys_menu WHERE menu_pid = m.menu_id ) > 0 THEN 0 ELSE 1 END ) AS leaf 
		FROM sys_menu m 
		order by menu_order
	</select>
	
	<select id="getChildrenByPid" resultType="jdbc.entity.vo.SysMenuVo">
		SELECT menu_id menuId, menu_pid menuPid, menu_name menuName, menu_url menuUrl, menu_remark menuRemark, menu_order menuOrder, menu_name text, ( CASE WHEN ( SELECT count(*) FROM sys_menu WHERE menu_pid = m.menu_id ) > 0 THEN 0 ELSE 1 END ) AS leaf 
		FROM sys_menu m 
		WHERE menu_pid = #{pid} order by menu_order
	</select>
	
	<select id="querySysMenuById" resultMap="BaseResultMap">
		SELECT menu_id, menu_pid, menu_name, menu_url, menu_remark, menu_order, used FROM sys_menu WHERE menu_id = #{menuId}
	</select>
	
	
	<update id="updateSysMenu">
		UPDATE sys_menu SET menu_name=#{menuName}, menu_url=#{menuUrl}, menu_remark=#{menuRemark}, menu_order=#{menuOrder} WHERE menu_id=#{menuId}
	</update>
	
	<insert id="insertSysMenu">
		INSERT INTO sys_menu ( `menu_id`, `menu_pid`, `menu_name`, `menu_url`, `menu_remark`, `menu_order` ) 
		VALUES ( #{menuId}, #{menuPid}, #{menuName}, #{menuUrl}, #{menuRemark}, #{menuOrder} )
	</insert>
	
	<delete id="deleteMenuById">
		DELETE FROM sys_menu WHERE menu_id = #{menuId}
	</delete>

</mapper>